@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

*{
    font-family: 'Cinzel', serif;
}

.navbar{
    background-color: rgba(21, 138, 248, 0.2);
    backdrop-filter: blur(100px);
}
.navbar-center {
    flex-grow: 50; 
    display: flex;
    justify-content: center;
}


.nav-link{
    color: white;
    text-decoration: none;
}


.body{
    padding-top: 100px;
    padding-bottom: 50px;
}


.lawPic , .ethicsPic {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.lawPic:hover, .ethicsPic:hover {
    transform: translateY(-20px);
}

.lawPic img, .ethicsPic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card{
    background-color: rgba(21, 138, 248, 0.2);
    backdrop-filter: blur(100px);
}

#collapseOne{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
                url('./Images/importancebg.png');
    background-position:center;
    background-size:cover;
}

#collapseTwo{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
                url('./Images/collapseTwobg.png');
    background-position:center;
    background-size:cover;
}

#collapseThree{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
                url('./Images/collapseThree.png');
    background-position:center;
    background-size:cover;
}

#collapseFour{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
                url('./Images/collapseFour.png');
    background-position:center;
    background-size:cover;
}

.conclusion{
    background-color:  rgba(53, 61, 68, 0.2);
}

.lawconclu{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
                url('./Images/lawconclu.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.ethicsconclu{
    background:  linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.4)), /* Overlay with 40% white opacity */
    url('./Images/ethicsconclu.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.members{
    background-color: rgba(0, 0, 0, 0.44);
}